* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header div { 
    margin: 3%;
    width: 19%;
    height: 200px;
    background-color: royalblue;
    float: left;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header div:nth-child(1){
    background-color: greenyellow;
}

header div:nth-child(2){
    background-color: firebrick;
}

header div:nth-child(3){
    background-color: deepskyblue;
}

header div:nth-child(4){
    background-color: coral;
}

header div:nth-child(1):hover{
    background-color: cadetblue;
}

header div:nth-child(2):hover{
    background-color: green;
}

header div:nth-child(3):hover{
    background-color: greenyellow;
}

header div:nth-child(4):hover{
    background-color: cadetblue;
}

nav{
    background-color: black;
    padding: 10px 0 10px 50px;
    margin: 20px 0;
}

nav ul{
    list-style: none;
}

nav ul li {
    float: left;
    width: 25%;
    margin: 0 10px;
}

nav ul li a:hover{
    background-color: grey;
    color: yellow;
    border-color: yellow;
}

nav ul li a{
    padding: 10px 30px;
    text-align: center;
    border: 2px solid white;
    display: block;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

