a{
    text-decoration: none;
    display: inline-block;
    background-color: black;
    font-size: 24px;
    color: orange;
    font-family: arial;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 260px;
    text-align: center;
    border: 2px solid orange;
    padding: 20px 15px;
}

a:hover{
    background: #333;
    color: white;
    border-color: black;
}